/* Обёртка на весь экран */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

/* Шапка и подвал */
header, footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    height: 50px;
}
h1 {
    text-align: center;
    margin-top: 10px;
}

/* Контейнер, который растягивается */
.game-area {
    flex: 1;
    position: relative;
    background-color: #ccc;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
}

/* Танк */
.tank {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    transform-origin: center;
}

/* Яблоки */
.apple {
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}

/* Счёт */
#score {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
